@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500;600;700&family=Libre+Franklin:wght@500;600;700&family=Montserrat:wght@300;400;500;600;700;800&display=swap');

:root{
    --negro: rgb(29, 36, 45);
    --grisInput: rgb(249, 251, 252);
    --grisFooter: rgb(234, 238, 242);
    --grisIcon: rgb(242, 243, 247);
    --grisPlace: rgb(161, 168, 175);
    --grisOscuro: rgb(66, 75, 86);
}

html{
    scroll-behavior: smooth;
}

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: var(--negro);
    font-weight: 500;
    text-decoration: none;
    list-style: none;
    /* font-family: 'Heebo', sans-serif; */
    /* font-family: 'Libre Franklin', sans-serif; */
}

/* ---------------------------------------- */

.signUp{
    display: flex;
    background-color: var(--negro);
    padding: 0.8rem 18vw;
    justify-content: space-between;
    align-items: center;
}

.signUp *{
   color: white;
   font-size: 0.8rem;
}

.signUp span{
    font-weight: 600;
}

.signUp a{
    font-weight: 500;
}

.signUp i{
    cursor: pointer;
}

/* ---------------HEADER Y NAVBAR------------------------- */
.list{
    display: none;
    font-size: 2rem;
    font-weight: bold;
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 18vw;
}

nav{
    display: flex;
    text-align: center;
    justify-content: center;
    list-style: none;
    gap: 35px;
    
}

  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  nav ul li a {
    display: block;
    color: #000000;
    text-decoration: none;
    padding: 10px;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    
    background-color: transparent;
    padding: 0px;
  }
  .dropdown-menu li{
    background-color: #000000;
    margin-top: 5px;
    border-radius: 15px;
  }
  .dropdown-menu li a{
    font-size: 12px;
    color: white;
  }
  .dropdown.active .dropdown-menu {
    display: block;
  }

  .menu-toggle {
    display: none;
    cursor: pointer;
  }
  
  .hamburger {
    
    font-size: 2rem;
    margin: 10px 0;
  }
  
  .menu-toggle.active .hamburger:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .menu-toggle.active .hamburger:nth-child(2) {
    opacity: 0;
  }
  
  .menu-toggle.active .hamburger:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  
  .menu {
    display: flex;
    height: 80px;
    margin-top: 45px;
    justify-content: center;
    text-align: center;
  }
  nav ul li a {
    display: block;
    color: #000000;
    text-decoration: none;
    padding: 10px ;
  }
  
  .dropdown-menu {
    display: none;
    background-color: #ffffff;
    padding: 0px;
  }
  
  .dropdown.active .dropdown-menu {
    display: block;
  }

.navDer{
width: 25%;
align-items: center; 
}

.divBtnLupa input::placeholder {
    color: var(--grisPlace);
}

.iconSearch{
    color: var(--grisPlace);
}


.iconocarrito{
    width: 100%;
    gap: 35px;
    justify-content: space-between;
    display: flex;
    text-align: center;
}
.iconocarrito >i{
    margin-top: 5px;
    font-size: 25px;
}

/*------------------CARRITO---------------------- */

.carrito{
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedorCarrito{
    width: 65%;
    display: flex;
    padding: 3rem 0;
}
.contenedorCart{
    width: 65%;
}
.cart{
    display: flex;
    justify-content: space-between;
}
.cart h1{
    font-weight: bold;
    font-size: 2rem;
}
.cart a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
}
.clasificaciones{
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.clasificaciones h2{
    color: var(--grisPlace);
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
.canti-pre{
    width: 16rem;
    display: flex;
    justify-content: space-between;
}
.productos{
    display: flex;
    gap: 1rem;
}
.cartas{
    display: flex;
    justify-content: space-between;
    width: 100%;
    -webkit-box-shadow: 3px -6px 6px -7px rgba(161,168,175,1);
-moz-box-shadow: 3px -6px 6px -7px rgba(161,168,175,1);
box-shadow: 3px -6px 6px -7px rgba(161,168,175,1);
    
}
.carta2{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.carta3{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.card-izq{
    display: flex;
}
.card-der{
    display: flex;
    gap: 4rem;
}
.card-der h3{
margin-top: 20px;
}
.tituloProducto{
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-family: 'Nunito', sans-serif;
    margin: 1.8rem 0;
}
.tituloProducto h2{
    color: var(--grisPlace);
    margin-top: 10px;
    font-family: sans-serif;
}
.stock{
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    margin: 1.5rem 0;
}
.stock div{
    display: flex;
    justify-content: start;
}

.stock div button{
    border: 0;
    width: 60px;
    background-color: white;
    margin-bottom: 40px;
    cursor: pointer;
}
.stock a{
    text-decoration: none;
    font-weight: bold;
}
/*----subtotal-----*/

.contenedorSubtotal{
    display: flex;
    flex-direction: column;
    margin: 2% 5%;
    width: 30%;
    
}
.subtotal{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.subtotal h2{
color: var(--grisPlace);
font-family: sans-serif;
}
.subtotal h3{
    font-weight: bold;
    font-family: sans-serif;
}
.descuentos{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.descuentos h2{
    color: var(--grisPlace);
    font-family: sans-serif;
}
.precioTotal{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.precioTotal h3{
    font-weight: bold;
    font-family: sans-serif;
}

.contenedorSubtotal button{
    color: white;
    background-color: black;
    height: 40px;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
}
.contenedorSubtotal button:hover{
    background-color: white;
    color: black;
}



input{
    width: 1rem;
    border-radius: 15px;
    accent-color: white;
}
img{
    border-radius: 15px;
    height: 7rem;
    width: 7rem;
    margin:1.5rem;
}
















/* -----------------FOOTER----------------------- */

footer{
    margin-top: 60px;
    background-color: var(--grisFooter);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divFooter{
    width: 65%;
    display: flex;
    padding: 3rem 0;
    border-bottom: 1px solid var(--grisPlace);
}

.nostraFooter{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 30%;
}

.nostraFooter p{
    color: var(--grisPlace);
    max-width: 70%;
    line-height: 1.5rem;
}

.nostraFooter h2{
    color: var(--grisOscuro);
    font-weight: 700;
    font-size: 2rem;
}

.footerCard{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
    width: 15%;
}

.footerCard h3{
    color: var(--grisOscuro);
    font-weight: 600;
    font-size: 1.1rem;
    
}

.footerCard a{
    text-decoration: none;
    color: var(--grisPlace);
}

.cardPagos{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 25%;
}

.cardPagos h3{
    color: var(--grisOscuro);
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
}

.divPagos{
    display: flex;
    justify-content: space-around;
}

.divPagos img{
    width: 45px;
    margin: 18px;
    cursor: pointer;
    object-fit: contain;
}
.copyright{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 65%;
}
.copyright p{
    color: var(--grisPlace);
    padding: 2rem 0;
    
}

/* ---------------------------------------- */

/*------------------responsive------------- */
/*------------------NAVBAR------------------*/
@media (width <=5000px){
   
    .divBtnLupa{
        background-color: var(--grisInput);
        border: var(--grisIcon) 2px solid;
        border-radius: 10px;
        padding-left: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .divBtnLupa{
        display: flex;
        width: 100%;
    }
    .divBtnLupa input{
        background-color: var(--grisInput);
        color: var(--grisPlace);
        border: 0;
        padding: 12px;
        border-radius: 10px;
        font-size: 1rem;
        outline: none;
        width: 200px;
    } 
}
@media (width<= 1560px){
    .header{
        display: flex;
        justify-content: space-between;
        text-align: center;
        flex-direction: row;
    }
    .menu-toggle{
        display: block;
    }
    .dropdown a{
        color: #ffffff;
        background-color: black;
        border-radius: 15px;
        
    }
    .menu li{
        color: #ffffff;
        background-color: black;
        border-radius: 15px;
    }
    .menu {
        display: none;
        flex-direction: column;
        text-align: center;
        padding: 10px;
        background-color: transparent;
        position: absolute;
        left: 17%;
        top: 10%;
        height:12rem;
        width: 14rem;
        
        
      }
    
      .menu.active {
        display: block;
      }
    
      .menu a {
        color: #ffffff;
        text-decoration: none;
        font-size: 16px;
        margin: 10px 0;
      }
      .dropdown-menu {
        display: none;
        background-color: transparent;
        margin-left: 13rem;
        margin-top: -60px;
        padding: 0px;
      }
      .dropdown-menu li{
        background-color: #000000;
        border-radius: 15px ;
        height: 39px;
        color: #ffffff;
        
      }
      .dropdown-menu li a{
        font-size: 16px;
      }
      .dropdown.active .dropdown-menu {
        display: block;
        width: 13rem;
        
      }
    .divInput{
        display: none;
    }
    .navDer{
        display: flex;

        width: 25%;
        height: 30px;
       
        
        justify-content: space-between;
    }
    
 .divBtnLupa{
    display: flex;
    position: relative;
    padding: 5px;
    border: 0;
    

}
.divBtnLupa input{
    width: 0px;
    height: 25px;
    padding: 0 15px;
    font-size: 12px;
    color: black; 
    outline: none;
    border: 0px solid transparent;
    border-radius:15px;
    transition: all 0.5s ease;
}
.divLupa{
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #ffffff;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 12px;
    border-radius: 10px ;
    cursor: pointer;
    border:solid 1px var(--grisPlace);
    transition: all 1.3s ease-in-out;
}

.divBtnLupa:hover input{
    
    width: 180px;
    margin-left: -80px;
}
.divBtnLupa input:focus{
    border:solid 1px rgb(0, 0, 0);
    width: 180px;
    margin-left: -80px;
}
    .divBtnLupa:hover input{
        transition: all .8s ease-in-out;
        border:solid 1px var(--grisPlace) ;
    }
    .divLupa:hover{
         border: solid 1px var(--grisPlace);
         transition: all .5s ease-in-out;
    }
    .divBtnLupa{
        display:flex; 
        
      
    }
    .iconocarrito>i{
        margin-top: 0;
    }
    .iconocarrito{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}
@media(width<=1100px){
    .navDer{
        width: 35%;
    }
    .menu{
        width: 8rem;
    }
    .menu li a{
        font-size: 12px;

    }
    .dropdown a{
        font-size: 12px;

    }
    .dropdown-menu li{
        height: 20px;
        margin-top: 25px;
    }
    .dropdown-menu li a{
        
        font-size: 12px;
    }
    .dropdown.active .dropdown-menu {
        display: block;
        margin-top: -70px;
        width: 8rem;
        margin-left: 7rem;
        
      }
}
@media(width<= 1000) {
    .navDer{
        width: 25%;
    }
    .iconocarrito{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}
@media(width<=800px){
   
    
    .menu{
        margin-top: 90px;
    }
    
     .header{
         display: grid;
         height: 150px;
         grid-template-columns: auto auto auto;
         grid-template-rows:auto auto auto auto auto;
         width: 100%;
         
     }
    
     .navDer{
        grid-row: 3/3;
        grid-column: 3/5;
        width: 120%;
     }
     .header h2{
        margin-bottom: 20px;
        grid-column: 1/ span 5;
       
    }
    .menu-toggle{
        display: grid;
        grid-column: 1/2;
    }
    .iconocarrito{
        display: flex;
    }
    .menu-toggle{
        display: grid;
        grid-column: 1/1 ;
        grid-row:3/3 ;
    } 
   .divBtnLupa{
      width: 150px;  
    } 
    .divBtnLupa:hover input{
        margin-left: -80px;

    }
    .divBtnLupa:focus input{
        margin-left: -80px;

    }
    .iconocarrito{
        gap: 10px;
    }

}
@media(width<=700){
    body{
        background-color: aqua;
    }
  
}
@media(width<=684px){
    .menu{
        margin-top: 100px;
    }
}
@media (width<=600px){
    .header{
        display: grid;
        height: 150px;
        grid-template-columns: auto auto auto;
        grid-template-rows:auto auto auto auto auto;
        width: 100%;
        
    }
   
    .navDer{
       grid-row: 3/3;
       grid-column: 3/5;
       width: 120%;
    }
    .header h2{
       margin-bottom: 20px;
       grid-column: 1/ span 5;
      
   }
 /*   .list{
       display: grid;
       grid-column: 1/2;
   } */
   .iconocarrito >i{
       font-size: 18px;
   }
   .hamburger{
    font-size: 18px;
   }
   .menu-toggle{
       display: grid;
       grid-column: 1/1 ;
       grid-row:3/3 ;
       font-size: 18px;
   } 
   .divBtnLupa input{
    height: 15px;
    font-size: 10px;
   }
   .divBtnLupa:hover input{
    width: 100px;
   }
   .divLupa{
    width: 25px;
    height: 25px;
    border-radius: 10px;
   }
   .divLupa i{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 7px;
    font-size: 10px;
   }
   .divBtnLupa:hover input{
    margin-left: -80px;
}
.divBtnLupa:focus input{
    margin-left: -80px;
}
.divBtnLupa{
    width: 50px;  
  } 
  .menu{
    width: 5rem;
}
.menu li{
    width: 5rem;
}
.menu li a{
    font-size: 8px;

}
.dropdown a{
    font-size: 8px;

}
.dropdown-menu li{
    height: 20px;
    margin-left: -30%;
    margin-top: 15px;
}
.dropdown-menu li a{
    
    font-size: 8px;
}
.dropdown.active .dropdown-menu {
    display: block;
    
    margin-top: -55px;
    width: 5rem;
    margin-left: 7rem;
    
  }
}
@media (width<=450px){
    .navDer{
        margin-left: 10%;
        width: 90%;
    }
    
}

/*------------------CARRITO----------------- */

@media (width >= 850px) and (width <= 1250px){
    .contenedorCarrito{
        display: block;
    }
    .contenedorCart{
        width: 100%;
    }
    .contenedorSubtotal{
        width: 100%;
    }
    .subtotal{
       
        margin-top: 1.5rem;
    }
    .contenedorSubtotal{
        margin-left: 0;
        margin-top: 1.5rem;
        -webkit-box-shadow: 3px -6px 6px -7px rgba(161,168,175,1);
        -moz-box-shadow: 3px -6px 6px -7px rgba(161,168,175,1);
        box-shadow: 3px -6px 6px -7px rgba(161,168,175,1);
            
    }
}
@media (width <= 849px){
    .contenedorCarrito{
        display: block;
    }
    .contenedorCart{
        width: 100%;
    }
    .contenedorSubtotal{
        width: 100%;
    }
    .cart h1{
        font-size: 1.5rem;
    }
    .cart a{
        font-size: 12px;
    }
    .clasificaciones h2{
        font-size: 12px;
    }
    .canti-pre{
        width: 13rem;
    }
    .cartas,.carta2,.carta3{
        height: 6rem;
    }
    input{
        width: 0.5rem;
    }
    img{
        margin-top: 1.rem;
        height: 3.5rem;
        width: 3.5rem;
    }
    .tituloProducto h2, h3{
        font-size: 12px;
    }
    .stock{
        margin:0.7rem;
        width: 100%;
    }
    .stock div{
        padding-top: 15px;
    }
    .stock div button{
        width: 30px;
        margin-bottom: 20px;
    }
    .stock a{
        display: flex;
        font-size: 12px;
        width: 100%;
    }
  
    .card-der h3{
        font-size: 12px;
    }
   
    .contenedorSubtotal{
        margin: 1.5rem 0;
        -webkit-box-shadow: 3px -6px 6px -7px rgba(161,168,175,1);
        -moz-box-shadow: 3px -6px 6px -7px rgba(161,168,175,1);
        box-shadow: 3px -6px 6px -7px rgba(161,168,175,1);
            
    }
    .subtotal{
        margin-top: 1.5rem;
    }
    .subtotal h2,h3{
        font-size: 12px;
    }
    .descuentos h2{
        font-size: 12px;
    }
    .precioTotal h3{
        font-size: 12px;
    }
}
@media (width <= 574px){
   img{
    border-radius: 5px;
    height: 2rem;
    width: 2rem;
    margin:1rem 5px;
   }
   .cartas,.carta2,.carta3{
    height: 4rem;
   }
   .tituloProducto h2,h3{
    font-size: 8px;
   }
   .tituloProducto{
    margin-top: 1rem;
   }
   .stock div button{
    border: 0;
    width: 60px;
    background-color: white;
    margin-bottom: 0px;
    cursor: pointer;
}

.stock div{
    display: flex;
    text-align: start;
    margin-bottom: 5px;
   
}
.stock a{
    display: flex;
    justify-content: center;
    font-size: 8px;
    margin-bottom: 5px;
}
.card-der{
    width: 12rem;
    gap: 0;
}
.card-der h3{
    margin: 0;
    font-size: 8px;
}
.canti-pre{
    width: 10rem;
}
}

/* ----------------FOOTER---------------*/

@media (width <= 1150px) and (width >= 900px){
    .divFooter{
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-template-rows: auto  ;
    }
    .nostraFooter{
        grid-column: 1/5;
        width: 100%;
        margin-bottom: 30px;
    }
    .nostraFooter p{
        width: 100%;
    }
    .shop{
        grid-column: 1/2;
        width: 100%;
        margin-bottom: 30px;

    }
    .compania{
        grid-column: 2/3;
        width: 100%;
        margin-bottom: 30px;

    }
    .soporte{
        width: 100%;
        grid-column: 3/4;
    }
    .cardPagos{
        width: 100%;
        grid-column: 4/5;
    }
}
@media (width <= 899px){
    .divFooter{
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-template-rows: auto auto auto;
    }
    .nostraFooter{
        grid-column: 1/5;
        width: 100%;
        margin-bottom: 30px;
    }
    .shop{
        grid-column: 1/2;
        width: 100%;
    }
    .compania{
        grid-column: 4/5;
        width: 100%;

    }
    .soporte{
        margin-top: 30px;

        width: 100%;
        grid-column: 1/2;
    }
    .cardPagos{
        display:grid;
        text-align:start;
        width: 100%;
        margin-top: 30px;

        justify-content: flex-start;
        grid-column: 4/5;
    }
    .cardPagos h3{
        display: flex;
        text-align: start;
    }
    .divPagos img{
        margin: 8px;
    }
}


